{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "Cookie": true,
    "chai": true,
    "expect": true
  },
  "rules": {}
}
